<footer>
    <section class="footer">
        <div class="footer-box">
            <h2>Sách shop</h2>
            <p>Giá trị không chỉ nằm trong từng nội dung "</p>
            <div class="social">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-tiktok'></i></a>
            </div>
        </div>
        <div class="footer-box">
            <h2>Support</h2>
            <li><a href="#">Product</a></li>
            <li><a href="#">Help & Support</a></li>
            <li><a href="#">Return policy</a></li>
            <li><a href="#">Terms of use</a></li>
            <li><a href="#">Product</a></li>
        </div>
        <div class="footer-box">
            <h2>View Guides</h2>
            <li><a href="#">Features</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog Posts</a></li>
            <li><a href="#">Our Branches</a></li>
        </div>
        <div class="footer-box">
            <h3>Contact</h3>
            <div class="contact">
                <span><i class='bx bx-map'></i>-Đà Nẵng, Việt Nam 2024</span>
                <span><i class='bx bx-phone'></i>-0123.456.789</span>
                <span><i class='bx bx-envelope'></i>-sach@gmail.com</span>
            </div>
        </div>
    </section>
</footer>
