<style>
    .search-box {
        position: absolute;
        top: 100px;
        left: calc(100% - 290px);
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        max-width: 300px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .book-info-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .book-image {
        width: 50px;
        height: auto;
        margin-right: 10px;
    }

    .book-name {
        font-weight: bold;
    }

    .book-price {
        margin-left: 10px;
    }
</style>


<header>
    <a href="#" class="logo">
        <img src="/img/mau-logo-nha-sach.jpg" alt="">
    </a>
    <i class='bx bx-menu' id="menu-icon"></i>
    <ul class="navbar">
        <li><a href="">Trang chủ</a></li>
        <li><a href="">Giới thiệu</a></li>
        <li><a href="">Sản Phẩm</a></li>
        <li><a href="">Liên hệ</a></li>
    </ul>
    <div class="header-icon">
        {{!-- <form id="searchForm" class="d-flex">
            <input class="form-control me-2" type="search" id="searchInput" placeholder="Tìm kiếm"
                aria-label="Tìm kiếm">
        </form> --}}
        {{!-- <a href=""><i class='bx bx-cart-alt'></i></a>
        <a href=""><i class='bx bxs-user'></i></a> --}}
    </div>
</header>