
    <!--gioithieu-->
    <br>
    <br>
    <section class="about" id="about">
        <div class="about-img">
            <img src="/ShopBook/src/public/img/chu1.jpg" alt="">
        </div>
        <div class="about-text">

            <h2>
               Ngôi Nhà Hạnh Phúc
            </h2>
            <p>"Chào mừng đến với Thế Giới Sách - Nơi Hòa Mình Trong Biển Sách Vô Tận!

                Chúng tôi tự hào là điểm đến lý tưởng cho những người yêu sách, nơi mà bạn có thể khám phá hàng ngàn tác phẩm từ mọi thể loại và chủ đề. Với bộ sưu tập đa dạng và phong phú,
                 chúng tôi cam kết mang đến cho bạn trải nghiệm mua sắm sách trực tuyến hoàn hảo nhất.</p>

        </div>

    </section>
    <section class="about" id="about">
        <div class="about-img">
            <img src="img/sp4.jpg" alt="">
        </div>
        <div class="about-text">
            <br>
            <br>
            <br>
            <br>
            <h2>
               Hạnh Phúc Trọn Vẹn
            </h2>

            <p>Đặt niềm tin vào chúng tôi, bạn sẽ được trải nghiệm một dịch vụ mua sắm trực tuyến tiện lợi, nhanh chóng và đáng tin cậy.
                 Hãy khám phá ngay và biến mỗi lời đọc sách thành một cuộc phiêu lưu không ngừng nghỉ!!"

            </p>

        </div>

    </section>
    <section class="about" id="about">
        <div class="about-img">
            <img src="img/sp3.jpg" alt="">
        </div>
        <div class="about-text">

            <h2>
                Bách Hóa Kho Tàng Sách
            </h2>
            <p>Đặt niềm tin vào chúng tôi, bạn sẽ được trải nghiệm một dịch vụ mua sắm trực tuyến tiện lợi, nhanh chóng và đáng tin cậy.
                 Hãy khám phá ngay và biến mỗi lời đọc sách thành một cuộc phiêu lưu không ngừng nghỉ!.</p>

        </div>

    </section>
    <section class="about" id="about">
        <div class="about-img">
            <img src="img/sp6.jpg" alt="">
        </div>
        <div class="about-text">

            <h2>
                Qùa  Tặng Cuộc Sống
            </h2>
            <p>với hương thơm dịu, vị mạnh mẽ của loại cà phê mang âm hưởng và khí chất của những chàng Cowboy vừa thanh
                thoát vừa lãng mạn làm say lòng biết bao người thưởng thức.</p>

        </div>


    </section>
    <section class="about" id="about">

        <div class="about-text">

            <h2> Động lực và cảm xúc của quốc gia</h2>
            <p>Động lực và Cảm Xúc quốc gia dùng để nuôi dưỡng Khát vọng quốc gia, gồm 5 cấp độ từ thấp đến cao là:
                Sợ hãi, Sân hận, Tham muốn, Khẳng định – ái kỷ – mạn ngã, Trắc ẩn – yêu thương – trách nhiệm. Sợ hãi
                là cấp độ thấp nhất của hệ động lực của một quốc gia. Ở cấp độ này, quốc gia chỉ mưu cầu sự tồn tại,
                mục tiêu của quốc gia chỉ là xóa đói giảm nghèo trong thời bình và luôn bị khống chế hoặc đe dọa bởi
                ngoại bang. Sân hận là cấp độ cao hơn, các quốc gia có thể nỗ lực hơn khi đặt trong sự ganh đua hoặc
                thù hận với một đối tượng nào đó. Đám đông cần có một kẻ thù chung, và cấp độ động lực này tạo ra
                một năng lượng lớn hơn là cấp độ sợ hãi. Tham muốn là cấp độ động lực cao hơn, nó tạo ra sự nỗ lực
                của toàn quốc gia trong việc tạo ra thịnh vượng và sự hùng mạnh của quốc gia đặc biệt là trong lĩnh
                vực phát triển kinh tế.

                Khẳng định – ái kỷ – mạn ngã. Đây là hệ động lực cần phải có của các quốc gia đạt được quy mô và
                đẳng cấp của các đế chế, đế quốc, quốc gia chủ chốt trong một nền văn minh. Động lực khẳng định – Ái
                kỷ – mạn ngã, si mê sự độc đáo của quốc gia – dân tộc mình, ngạo mạn với bản sắc và sức mạnh của
                quốc gia và dân tộc mình sẽ tạo ra một nguồn năng lượng to lớn dẫn đến việc thôi thúc quốc gia đó
                xâm chiếm và ảnh hưởng bằng nhiều cách lên các quốc gia khác, thậm chí là cả nhân loại. Đây là cội
                nguồn của chủ nghĩa bá quyền, chủ nghĩa dân tộc cực đoan và chủ nghĩa phát xít. Đây là hệ động lực
                rất mạnh nhưng không có tính bền vững, về lâu về dài sự bóc lột hay áp đặt của quốc gia mang động
                lực này lên các quốc gia “vệ tinh-chư hầu” sẽ tạo ra mâu thuẫn và sự phản kháng, đồng thời, nó cũng
                làm suy yếu chính bản thân quốc gia – dân tộc đó khi mà sự ái kỷ mà mạn ngã tự thân nó sớm muộn gì
                cũng tạo ra các sai lầm khó có thể sửa chữa.

                Trắc ẩn – yêu thương – trách nhiệm: đây là hệ động lực cao nhất và chưa có quốc gia – dân tộc nào có
                thể có được và cài đặt cho bản thân, động lực này sẽ tạo ra được những thành tựu vô cùng to lớn và
                có tính bền vững cho quốc gia – dân tộc nào sở hữu nó.

            </p>

        </div>

    </section>