 <!--Sản phẩm-->
    <section class="products" id="products">
        <div class="heading">
            <br>
            <h2>Sản phẩm</h2>
        </div>
        <!--container-->
        <div class="products-container">
            <div class="box">
                <img src="img/chu3.jpg" alt="">
                <h3>Americano Pure</h3>
                <div class="content">
                    <span>35.000</span>
                    <a href="./chitietsp.html">Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="box">
                <img src="img/sp5.jpg" alt="">
                <h3>Americano Pure</h3>
                <div class="content">
                    <span>35.000</span>
                    <a href="./chitietsp.html">Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="box">
                <img src="img/sp2.jpg" alt="">
                <h3>Americano Pure</h3>
                <div class="content">
                    <span>35.000</span>
                    <a href="shopping cart.html">Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="box">
                <img src="img/sp3.jpg" alt="">
                <h3>Americano Pure</h3>
                <div class="content">
                    <span>35.000</span>
                    <a href="#">Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="box">
                <img src="img/sp4.jpg" alt="">
                <h3>Americano Pure</h3>
                <div class="content">
                    <span>35.000</span>
                    <a href="shopping cart.html">Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="box">
                <img src="img/sp5.jpg" alt="">
                <h3>Americano Pure</h3>
                <div class="content">
                    <span>35.000</span>
                    <a href="shopping cart.html">Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="box">
                <img src="img/sp6.jpg" alt="">
                <h3>Americano Pure</h3>
                <div class="content">
                    <span>35.000</span>
                    <a href="shopping cart.html">Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="box">
                <img src="img/sp7.jpg" alt="">
                <h3>Americano Pure</h3>
                <div class="content">
                    <span>35.000</span>
                    <a href="shopping cart.html">Thêm vào giỏ hàng</a>
                </div>
            </div>
            
        </div>
    </section>